body {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(images/hamburger.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.pull-left {
    float: left;
}

.slogan {
    width: calc(100% - 175px);
    text-align: center;
}

.iconfb {
    float: right;
    margin: 0;
}

.icontweet {
    float: right;
    margin: 0;
}

.icongogol {
    float: right;
    margin: 0;
}

nav {
    background-color: pink;
    clear: both;
    padding-top: 5px;
    text-align: center;
}

nav li {
    display: inline-block;
    text-align: center;
    margin-right: 70px;
}

nav li:last-child {
    margin-right: 0px;
}